pandas
plotly
umap-learn
rank-bm25
langchain
langchain-classic
langchain-community
langchain-groq
bert-score
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
beautifulsoup4
requests
streamlit>=1.35.0
altair>=4,<5
watchdog
ragas
datasets
python-dotenv
tiktoken
einops
openai
rouge-score